.jumbotron{
    color:white;
    background-image: url("../img/burger-banner.jpg");
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.float-right{
    float: right;
}